<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Registration</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="css/styleReg.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">Регистрация</h1>
      <form action="#">
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="fullName">Имя</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Введите имя"/>
          </div>
          <div class="user-input-box">
            <label for="username">Фамилия</label>
            <input type="text"
                    id="username"
                    name="username"
                    placeholder="Введите фамилию"/>
          </div>
        
          <div class="user-input-box">
            <label for="email">Email</label>
            <input type="email"
                    id="email"
                    name="email"
                    placeholder="Введите Email"/>
          </div>
          <div class="user-input-box">
            <label for="phoneNumber">Номер телефона</label>
            <input type="text"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Введите номер"/>
          </div>
          <div class="user-input-box">
            <label for="password">Пароль</label>
            <input type="password"
                    id="password"
                    name="password"
                    placeholder="Введите пароль"/>
          </div>
          <div class="user-input-box">
            <label for="confirmPassword">Повтор пароля</label>
            <input type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Повторите пароль"/>
          </div>
        </div>
        <div class="gender-details-box">
          <span class="gender-title">Пол</span>
          <div class="gender-category">
            <input type="radio" name="gender" id="Мужской">
            <label for="male">Мужской</label>
            <input type="radio" name="gender" id="Женский">
            <label for="female">Женский</label>
            <input type="radio" name="gender" id="Анонимно">
            <label for="other">Анонимно</label>
          </div>
        </div>
        <div class="form-submit-btn">
          <input type="submit" value="Зарегистрировать">
        </div>
      </form>
    </div>
  </body>
</html>

<section class="blogs" id="blogs"></section>
  <div class="regbg">
    <div class="box" data-aos="fade-up" data-aos-delay="150">
        <div class="background">
          <img src="images/" alt="">
        </div>
      </div>
    </div>
  </div>
</section>