<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete responsive travel website design tutorial</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- custom js file link  -->
    <script src="/public/js/script.js" defer></script>

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>

    <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>travel </a>

    <nav class="navbar">
        <a data-aos="zoom-in-left" data-aos-delay="300" href="#home">Главная</a>
        <a data-aos="zoom-in-left" data-aos-delay="450" href="#about">о нас</a>
        <a data-aos="zoom-in-left" data-aos-delay="600" href="#destination">место назначения</a>
        <a data-aos="zoom-in-left" data-aos-delay="750" href="#services">услуги</a>
        <a data-aos="zoom-in-left" data-aos-delay="900" href="#gallery">галерея</a>
        <a data-aos="zoom-in-left" data-aos-delay="1150" href="#blogs">блоги</a>
    </nav>

    <a data-aos="zoom-in-left" data-aos-delay="1300" href="/registration" class="btn">Зарегистрироваться</a>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <span data-aos="fade-up" data-aos-delay="150">Следуйте За Нами</span>
        <h3 data-aos="fade-up" data-aos-delay="300">К Неизвестному</h3>
        <p data-aos="fade-up" data-aos-delay="450">Эксклюзивные предложения. Мы заботимся о вашем качественном отдыхе и делаем всё возможное, чтобы путешествия были полны положительных эмоций!</p>
        <a data-aos="fade-up" data-aos-delay="600" href="#book-form" class="btn">бронируйте прямо сейчас</a>
    </div>

</section>

<!-- home section ends -->

<!-- booking form section starts  -->

<section class="book-form" id="book-form">

    <form action="">
        <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
            <span>куда?</span>
            <input type="text" placeholder="название места" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
            <span>когда?</span>
            <input type="date" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
            <span>сколько?</span>
            <input type="number" placeholder="кол-во путешественников" value="">
        </div>
        <input data-aos="zoom-in" data-aos-delay="600" type="submit" value="поиск" class="btn">
    </form>

</section>

<!-- booking form section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <div class="video-container" data-aos="fade-right" data-aos-delay="300">
        <video src="images/about-vid-1.mp4" muted autoplay loop class="video"></video>
        <div class="controls">
            <span class="control-btn" data-src="images/about-vid-1.mp4"></span>
            <span class="control-btn" data-src="images/about-vid-2.mp4"></span>
            <span class="control-btn" data-src="images/about-vid-3.mp4"></span>
        </div>
    </div>

    <div class="content" data-aos="fade-left" data-aos-delay="600">
        <span>почему выбрали нас?</span>
        <h3>Величие природы ждет Вас</h3>
        <p>Мы поможем вам выбрать самый подходящий тур в соответствии с вашими предпочтениями и возможностями. Мы готовы предложить традиционный отдых на морских курортах, круизы, познавательный отдых в любой токе мира, индивидуальные туры, активный отдых.</p>
        <a href="#" class="btn">подробнее</a>
    </div>

</section>

<!-- about section ends -->

<!-- destination section starts  -->

<section class="destination" id="destination">

    <div class="heading">
        <span>наш пункт назначения</span>
        <h1>сделайте свой пункт назначения</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="images/des-1.jpg" alt="">
            </div>
            <div class="content">
                <h3>рио-де-жанейро</h3>
                <p>Острова, моря, карнавал...</p>
                <a href="#">7 дн 75.000 ₽</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <div class="image">
                <img src="images/des-2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Канайма</h3>
                <p>Высочайшие водопады в мире.</p>
                <a href="#">3 дн 43.000 ₽</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <div class="image">
                <img src="images/des-3.jpg" alt="">
            </div>
            <div class="content">
                <h3>мальдивы</h3>
                <p>бирюзовые моря.</p>
                <a href="#">7 дн 191.000 ₽</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <div class="image">
                <img src="images/des-4.jpg" alt="">
            </div>
            <div class="content">
                <h3>Сочи</h3>
                <p>Южное побережье во всей красе.</p>
                <a href="#">7 дн 162.000 ₽</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="750">
            <div class="image">
                <img src="images/des-5.jpg" alt="">
            </div>
            <div class="content">
                <h3>Тайские острова</h3>
                <p>Такое можно встретить только в фантастике.</p>
                <a href="#">10 дн 153.000 ₽</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="900">
            <div class="image">
                <img src="images/des-6.jpg" alt="">
            </div>
            <div class="content">
                <h3>Эльбрус</h3>
                <p>Для любителей экстрима.</p>
                <a href="#">7 дн 26.400 ₽</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1150">
            <div class="image">
                <img src="images/des-7.jpg" alt="">
            </div>
            <div class="content">
                <h3>Бали</h3>
                <p>Мечта превратится в реальность.</p>
                <a href="#">10 дн 159.000 ₽</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="images/des-8.jpg" alt="">
            </div>
            <div class="content">
                <h3>Галечный пляж</h3>
                <p>Как насчёт разнообразия?</p>
                <a href="#">сутки 3.200 ₽</a>
            </div>
        </div>

    </div>

</section>

<!-- destination section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <div class="heading">
        <span>наши услуги</span>
        <h1>бесчисленный опыт</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <i class="fas fa-globe"></i>
            <h3>общемировой</h3>
            <p>Гиды мирового класса.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <i class="fas fa-hiking"></i>
            <h3>приключения</h3>
            <p>Незабываемые ощущения.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <i class="fas fa-utensils"></i>
            <h3>еда & напитки</h3>
            <p>Любой каприз - за ваши деньги.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="600">
            <i class="fas fa-hotel"></i>
            <h3>доступные отели</h3>
            <p>На любой вкус и выбор.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="750">
            <i class="fas fa-wallet"></i>
            <h3>доступная цена</h3>
            <p>ни в чём себе не отказывайте.</p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="900">
            <i class="fas fa-headset"></i>
            <h3>поддержка 24/7</h3>
            <p>Помощь прибудет в любой момент.</p>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <div class="heading">
        <span>наша галерея</span>
        <h1>мы записываем воспоминания</h1>
    </div>
    
    <div class="box-container">

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="images/gallery-img-1.jpg" alt="">
            <h3>исландия</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="images/gallery-img-2.jpg" alt="">
            <h3>гренландия</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="images/gallery-img-3.jpg" alt="">
            <h3>аляска</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="images/gallery-img-4.jpg" alt="">
            <h3>тайланд</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="images/gallery-img-5.jpg" alt="">
            <h3>бразилия</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="images/gallery-img-6.jpg" alt="">
            <h3>мальдивские острова</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="images/gallery-img-7.jpg" alt="">
            <h3>исландия</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="images/gallery-img-8.jpg" alt="">
            <h3>аляска</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="images/gallery-img-9.jpg" alt="">
            <h3>мальдивские острова</h3>
        </div>

    </div>

</section>

<!-- gallery section ends -->

<!-- review section starts  -->

<section class="review">

    <div class="content" data-aos="fade-right" data-aos-delay="300">
        <span>рекомендации</span>
        <h3>хорошие новости от наших клиентов</h3>
    </div>

    <div class="box-container" data-aos="fade-left" data-aos-delay="600">

        <div class="box">
            <p>Всё супер, как ни странно) Рекомендую!</p>
            <div class="user">
                <img src="images/pic-1.png" alt="">
                <div class="info">
                    <h3>Джон Ривас</h3>
                    <span>Дизайнер</span>
                </div>
            </div>
        </div>
        <div class="box">
            <p>Было интересно и что-то даже полезно.</p>
            <div class="user">
                <img src="images/pic-2.png" alt="">
                <div class="info">
                    <h3>Анна Сельски</h3>
                    <span>Режиссёр</span>
                </div>
            </div>
        </div>
        <div class="box">
            <p>Всё на высшем уровне.</p>
            <div class="user">
                <img src="images/pic-3.png" alt="">
                <div class="info">
                    <h3>Скотт Эванс</h3>
                    <span>Актёр</span>
                </div>
            </div>
        </div>
        <div class="box">
            <p>Это была незабываемая поездка.</p>
            <div class="user">
                <img src="images/pic-4.png" alt="">
                <div class="info">
                    <h3>Эшли Грэм</h3>
                    <span>Модель</span>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- review section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <div class="heading">
        <span>блоги и сообщения</span>
        <h1>мы рассказываем нерассказанные истории</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="images/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="link">Тайские острова в самом разгаре</a>
                <div class="icon">
                    <a href="#"><i class="fas fa-clock"></i> 13ое сентября, 2022</a>
                    <a href="#"><i class="fas fa-user"></i> by admin</a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <div class="image">
                <img src="images/blog-2.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="link">Прогулки по саванне</a>
                <div class="icon">
                    <a href="#"><i class="fas fa-clock"></i> 30ое ноября, 2022</a>
                    <a href="#"><i class="fas fa-user"></i> by admin</a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <div class="image">
                <img src="images/blog-3.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="link">крымская лаванда</a>
                <div class="icon">
                    <a href="#"><i class="fas fa-clock"></i> 16ое июня, 2022</a>
                    <a href="#"><i class="fas fa-user"></i> by admin</a>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->

<!-- banner section starts  -->

<div class="banner">

    <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <span>начните свои приключения</span>
        <h3>Давайте исследуем этот мир</h3>
        <a href="#book-form" class="btn">Бронировать</a>
    </div>

</div>

<!-- banner section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <a href="#" class="logo"> <i class="fas fa-paper-plane"></i>travel </a>
            <p>Находите нас в соц. сетях</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <h3>быстрые ссылки</h3>
            <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> главная </a>
            <a href="#about" class="links"> <i class="fas fa-arrow-right"></i> о нас </a>
            <a href="#destination" class="links"> <i class="fas fa-arrow-right"></i> место назначения </a>
            <a href="#services" class="links"> <i class="fas fa-arrow-right"></i> услуги </a>
            <a href="#gallery" class="links"> <i class="fas fa-arrow-right"></i> галерея </a>
            <a href="#blogs" class="links"> <i class="fas fa-arrow-right"></i> блоги </a>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <h3>контактная информация</h3>
            <p> <i class="fas fa-map"></i> симферополь, россия </p>
            <p> <i class="fas fa-phone"></i> +7(978)721-59-06 </p>
            <p> <i class="fas fa-envelope"></i> gerasimenko.m.i20@gmail.com </p>
            <p> <i class="fas fa-clock"></i> 8:00am - 10:00pm </p>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <h3>новостная рассылка</h3>
            <p>подпишитесь на последние обновления</p>
            <form action="">
                <input type="email" name="" placeholder="enter your email" class="email" id="">
                <input type="submit" value="subscribe" class="btn">
            </form>
        </div>

    </div>

</section>

<div class="credit">создано <span>XxX company</span> | все права защищены!</div>

<!-- footer section ends -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<script>

    AOS.init({
        duration: 800,
        offset:150,
    });

</script>

</body>
</html>